@import './styles/reset.css';
@import './styles/mixinsAndVars.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,400;1,700&display=swap');

body {
  background-color: var(--color-2);
  color: var(--color-5);
  font-family: 'Ubuntu', sans-serif;
}
